<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <nav class="navbar navbar-light bg-light justify-content-between">
      <span><a class="navbar-brand">Watch List</a></span>
        <div class="flex">
          <a href="#" style="text-decoration: none; color: #A9A9A9">My List</a>
          <a href="#" style="text-decoration: none; color: #A9A9A9">New List</a>
        </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
